.App {
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	height: 143vh;
}

.logo {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	position: absolute;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#5cf037),
		to(#fae62d)
	);
	background: linear-gradient(#5cf037, #fae62d);
	background: linear-gradient(#5cf037, #fae62d);
	-webkit-transition: box-shadow 1s;
	transition: box-shadow 1s;
	text-align: center;
	color: #fff;
	font-size: 15px;
	line-height: 31px;
	font-weight: 700;
	z-index: 1001;
	top: 19px;
	left: 33px;
}

.pageTitle {
	color: #fff;
	font-size: 38px;
	margin: 24px 0 18px;
	line-height: 1em;
	font-weight: 700;
}

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
}

header {
	border-bottom: white solid 1px;
	width: 100%;
}
header > h1 {
	margin-left: 50px;
}
header > p {
	width: 600px;
	margin-left: 50px;
}

.movieTab {
	padding: 8px;
	font-size: 20px;
}
.randomMovieTab {
	padding: 8px;
	font-size: 20px;
	margin-right: 20px;
}
.tvTab {
	padding: 8px;
	font-size: 20px;
}
.randomTvTab {
	padding: 8px;
	font-size: 20px;
}

footer {
	height: 200px;
	box-shadow: white solid 2px;
}
