body,
html {
	font-family: spotify-circular, spotify-circular-cyrillic,
		spotify-circular-arabic, spotify-circular-hebrew, "Helvetica Neue",
		Helvetica, Arial, "Hiragino Kaku Gothic Pro", Meiryo, "MS Gothic",
		sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: rgb(255, 255, 255);
	text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: rgb(255, 255, 255);
}

.ant-layout {
	background-color: rgb(18, 18, 18);
	display: flex;
	height: 100%;
	margin: 0px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
}
.ant-layout-content {
	margin: 0 1rem;
}
.media_details_wrapper {
	display: flex;
	flex-direction: row;

	.media_info_wrapper {
		display: flex;
		flex-direction: row;
	}
}
.album_player {
	width: 87%;
	height: 5rem;
	margin: 1.5rem 1rem;
	margin-top: -5rem;
}

.playlist_player::after {
	width: 87%;
	height: 5rem;
	margin: 1.5rem 1rem;
	margin-top: -5rem;
}

.track_wrapper {
	display: flex;
	flex-wrap: wrap;
}

.video_wrapper {
	width: 32%;
	height: 5rem;
	margin: 0.4rem 0.3rem;
}
.video_wrapper:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.info_wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;

	.artist_wrapper {
		display: flex;
		flex-direction: column;

		.artist_info {
			display: flex;
			flex-wrap: wrap;

			.artist_name {
				margin-right: 0.5rem;
			}
		}
	}

	h1 {
		font-size: 11px;
		font-weight: 400;
		line-height: 16px;
		color: rgb(255, 255, 255);
	}

	h2 {
		color: rgb(179, 179, 179);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 10px;
		font-weight: 400;
		line-height: 16px;
		margin-right: 0.5rem;
	}

	p {
		font-size: 12px;
		margin-right: -12px;
		margin-top: 5px;
		font-weight: 700;
		color: rgb(179, 179, 179);
		min-width: 40px;
		line-height: 43px;
		font-family: spotify-circular, spotify-circular-cyrillic,
			spotify-circular-arabic, spotify-circular-hebrew, "Helvetica Neue",
			Helvetica, Arial, "Hiragino Kaku Gothic Pro", Meiryo, "MS Gothic",
			sans-serif;
	}

	img {
		margin-right: 16px;
		background-color: #282828;
		flex-shrink: 0;
		object-position: center center;
	}
}

.media_artists_wrapper {
	max-width: 40%;
}
