body,
html {
	font-family: spotify-circular, spotify-circular-cyrillic,
		spotify-circular-arabic, spotify-circular-hebrew, "Helvetica Neue",
		Helvetica, Arial, "Hiragino Kaku Gothic Pro", Meiryo, "MS Gothic",
		sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: rgb(255, 255, 255);
	text-transform: none;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: rgb(255, 255, 255);
}

.ant-layout {
	background-image: linear-gradient(#3f3d58, #060140);
	display: flex;
	height: 117vw;
	margin: 0px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
}
.ant-layout-content {
	margin: 0 1rem;
}
.main_media_details_wrapper {
	display: flex;
	flex-direction: column;

	.main_TMBD_info_wrapper {
		display: flex;
		flex-direction: row;

		.main_TMDB_info_details {
			display: flex;
			margin-left: 1rem;
			flex-direction: column;

			.details_title {
				font-weight: bolder;
				font-size: xxx-large;
				margin-top: 1rem;
			}
			.details_overview {
				font-weight: 100;
				width: 74%;

				b {
					font-weight: bold;
				}
			}

			.details_vote_average {
				font-size: medium;
				font-weight: 100;

				b {
					font-weight: bold;
				}
			}

			.details_release_date {
				b {
					font-weight: bold;
				}
			}
		}
	}

	.album_player {
		width: 100%;
		height: 4rem;
		margin: 0rem 0rem;
		margin-top: 0rem;
		height: 100%;
		margin-left: -123%;
	}

	.playlist_player {
		width: 100%;
		height: 4rem;
		margin: 0rem 0rem;
		margin-top: 0rem;
		height: 100%;
		margin-left: -123%;
	}

	.track_wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.spotify_wrapper {
		display: flex;
		height: 100vh;
		.main_spotify_track_wrapper {
			width: 100%;
			height: auto;
			margin-bottom: 1rem;
			display: flex;
			flex-wrap: wrap;
			.spotify_tracks {
				display: flex;
				width: 5rem;
				margin: 1rem;
				box-shadow: 0px 0px 10px rgb(73 73 73);
				transition: 50ms;
				cursor: pointer;
				.track_wrapper {
					display: flex;
					flex-direction: row;

					.artist_wrapper {
						display: flex;
						width: 5rem;
						justify-content: center;
						padding: 0.2rem;

						.artist_info {
							display: flex;
							flex-wrap: wrap;

							.artist_name {
								margin-right: 0.5rem;
							}
						}
					}

					h1 {
						font-size: 12px;
						font-weight: 400;
						line-height: 16px;
						color: rgb(255, 255, 255);
					}

					h2 {
						color: rgb(179, 179, 179);
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						font-size: 10px;
						font-weight: 400;
						line-height: 16px;
						margin-right: 0.5rem;
					}

					p {
						font-size: 12px;
						margin-right: -12px;
						margin-top: 5px;
						font-weight: 700;
						color: rgb(179, 179, 179);
						min-width: 40px;
						line-height: 43px;
						font-family: spotify-circular, spotify-circular-cyrillic,
							spotify-circular-arabic, spotify-circular-hebrew, "Helvetica Neue",
							Helvetica, Arial, "Hiragino Kaku Gothic Pro", Meiryo, "MS Gothic",
							sans-serif;
					}

					img {
						height: 5rem;
					}
				}
			}
		}

		.main_spotify_toggle {
		}

		.disabled {
			pointer-events: none;
		}

		.active {
			background: #3f3d58;
			z-index: 1009;
			opacity: 0.5;
			-webkit-animation: fadein 0.3s;
			animation: fadein 0.3s;
			// height: fit-content;
		}
		.spotify_tracks:hover {
			transform: translate3d(5px, 0px, 20px);
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
		}
	}

	.sidebar_spotify_details_wrapper {
		width: 31%;
		min-width: 31%;
		.sidebar_spotify_details {
			display: flex;
			flex-direction: row;
		}
		.details_related_artist_title_wrapper {
			margin-left: 2rem;
			margin-top: -1.5rem;
			margin-right: -40%;
			p {
				margin: 1rem;
				font-weight: 100;
				text-align: right;
				color: darkgrey;
				white-space: nowrap;
				font-size: small;
			}
		}
		.details_related_artists {
			display: grid;
			grid-template-columns: 50% 50%;
			margin-left: 8%;
			margin-top: 1.5rem;

			.related_artist_info {
				border-radius: 50%;
				height: 4rem;
				width: 4rem;
				margin: 0.5rem;
				z-index: 1;
			}
		}

		.details_related_tracks {
			display: grid;
			grid-template-columns: 50% 50%;
			margin-left: -31%;
			margin-top: 1.5rem;
			cursor: pointer;
			.related_artists_player {
				height: 4rem;
				width: 4rem;
				margin: 0.5rem;
				z-index: 1;
			}
		}

		.spotify_selectedtrack {
			display: flex;
			flex-direction: column;
			/* justify-content: center; */
			align-items: center;
			img {
				max-height: 400px;
				width: 26rem;
				border-radius: 4%;
			}
			h1 {
				font-size: 24px;
				font-weight: 400;
				line-height: 16px;
				color: darkgrey;
				margin-top: 0.5rem;
				width: 25rem;
			}

			h2 {
				color: darkgrey;
				font-size: 16px;
				width: 100%;
				width: 25rem;
			}
		}
		.details_artist_top_tracks {
			width: 23rem;
			position: absolute;
			top: 50rem;
			p {
				margin-bottom: 0;
				font-weight: 100;
				// text-align: right;
				color: darkgrey;
				white-space: nowrap;
				font-size: small;
			}
		}
	}
}

@media only screen and (min-width: 1100px) {
	.main_media_details_wrapper .sidebar_spotify_details_wrapper {
		width: 54%;
		min-width: 54%;
	}
	.main_media_details_wrapper
		.sidebar_spotify_details_wrapper
		.details_related_artist_title_wrapper {
		margin-right: -35%;
		margin-left: 3rem;
	}

	.main_media_details_wrapper
		.sidebar_spotify_details_wrapper
		.details_related_artists {
		margin-left: 11%;
	}

	.main_media_details_wrapper
		.sidebar_spotify_details_wrapper
		.details_related_tracks {
		margin-left: -22%;
	}

	.main_media_details_wrapper .spotify_wrapper .active {
		height: fit-content;
	}
}

@media only screen and (min-width: 1300px) {
	.main_media_details_wrapper .sidebar_spotify_details_wrapper {
		width: 47%;
		min-width: 47%;
	}
	.main_media_details_wrapper
		.sidebar_spotify_details_wrapper
		.details_related_artist_title_wrapper {
		margin-right: -41%;
	}

	.main_media_details_wrapper
		.sidebar_spotify_details_wrapper
		.details_related_artists {
		margin-left: 17%;
	}

	.main_media_details_wrapper
		.sidebar_spotify_details_wrapper
		.details_related_tracks {
		margin-left: -23%;
	}
}

@media only screen and (min-width: 1600px) {
	.main_media_details_wrapper
		.sidebar_spotify_details_wrapper
		.details_related_artist_title_wrapper {
		margin-right: -37%;
	}

	.main_media_details_wrapper
		.sidebar_spotify_details_wrapper
		.details_related_artists {
		margin-left: 17%;
	}

	.main_media_details_wrapper
		.sidebar_spotify_details_wrapper
		.details_related_tracks {
		margin-left: -18%;
	}
}

@media only screen and (min-width: 1800px) {
	.main_media_details_wrapper
		.sidebar_spotify_details_wrapper
		.details_related_artist_title_wrapper {
		margin-right: -34%;
		margin-left: 5rem;
	}

	.main_media_details_wrapper
		.sidebar_spotify_details_wrapper
		.details_related_artists {
		margin-left: 17%;
	}

	.main_media_details_wrapper
		.sidebar_spotify_details_wrapper
		.details_related_tracks {
		margin-left: -16%;
	}
}
